{{page-title "Posts"}}

<div class="flex items-center justify-between">
  <h1 class="text-4xl font-extrabold">
    Posts
  </h1>

  <LinkTo @route="posts.new">
    <Button>
      Create
    </Button>
  </LinkTo>
</div>

<div
  {{did-insert (perform this.findResources)}}
  {{did-update (perform this.findResources)}}
  class="mt-8 grid gap-y-6"
>
  {{#each this.resources as |resource|}}
    <article
      data-test-resource-type="post"
      data-test-resource-id={{resource.id}}
    >
      <h3 class="text-lg semibold" data-test-relationship-type="category">
        Category:
        {{resource.category.name}}
      </h3>

      <ul class="flex flex-wrap gap-x-2 text-sm">
        {{#each resource.tags as |tag|}}
          <li data-test-relationship-type="tag">
            {{tag.name}}
          </li>
        {{/each}}
      </ul>

      <p data-test-attribute="content">
        {{resource.content}}
      </p>
    </article>
  {{/each}}
</div>