{{page-title "Categories"}}

<h1 class="text-4xl font-extrabold">
  Categories
</h1>

{{#if this.newCategory}}
  <div class="mt-8 flex items-center gap-x-4">
    <FormInput @type="text" @value={{this.newCategory.name}} />

    <Button type="submit" {{on "click" (perform this.createCategory)}}>
      Save
    </Button>
  </div>
{{/if}}

<div
  {{did-insert (perform this.findCategories)}}
  {{did-update (perform this.findCategories)}}
  class="mt-8"
>
  {{#each this.categories as |category|}}
    <article>
      <h3>
        {{category.name}}
      </h3>
    </article>
  {{/each}}
</div>